.backImg {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 30px;
}

.backImg img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    filter: brightness(70%);
}

body:hover .backImg img {
    filter: none;
    transition: all ease-in-out 0.3s;
}

.times {
    color: white;
    position: absolute;
    top: 120px;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.times__date {
    font-weight: 400;
    font-size: 15px;
}

.times__clock {
    margin-top: 10px;
    font-weight: 900;
    font-size: 70px;
}

.bubble__des {
    position: relative;
    background: rgba(124, 124, 124, 0.8);
    border-radius: 0.4em;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    left: 25%;
    bottom: -760px;
    color: white;
}

.bubble__des::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: rgba(124, 124, 124, 0.8);
    border-top: 0;
    margin-left: -12px;
    margin-top: -12px;
}

body:hover .bubble__des {
    display: none;
}
