.more__screen {
    margin-top: -20px;
    height: 520px;
    overflow-x: scroll;
    border-radius: 20px;
}

.more-suggestions {
    margin-top: 50px;
    border-top: var(--main-border);
    padding-top: 10px;
}

.more-suggestions__title {
    margin-bottom: 30px;
    font-size: 12px;
}

.more-suggestions__icons {
    display: flex;
}

.more-suggestions__icon {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    width: 25%;
    box-sizing: border-box;
}

.more-suggestions__icon-image {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.more-suggestions__icon-image i {
    font-size: 20px;
}

.more-suggestions__icon-text {
    font-size: 10px;
    text-align: center;
}
