.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 70px;
    margin-bottom: 15px;
}

.screen-header__title {
    font-size: 25px;
    font-weight: 600;
}

.screen-header__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-header__icons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 40px;
    height: 40px;
}

.screen-header__icons div:hover {
    border-radius: 48px;
    background: #ffffff;
    box-shadow: 7px 7px 14px #8f8f8f, -7px -7px 14px #ffffff;
}
