.user-component {
    justify-content: space-between;
    padding: 10px 12px;
    margin-bottom: 10px;
}

.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-component__title {
    font-weight: 600;
    font-size: 15px;
}

.user-component__subtitle {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

.user-component__avatar--xl {
    width: 60px;
    height: 60px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.3);
}

.user-component__time {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.user-component__dis {
    display: flex;
    justify-content: center;

    align-items: center;
    padding-top: 10px;
}

.user-component__dis h6 {
    margin-right: 10px;
}

.user-component__dis i {
    font-size: 5px;
    color: tomato;
}

.chats__screen .user-component:hover {
    border-radius: 48px;
    background: #ffffff;
    box-shadow: 7px 7px 14px #8f8f8f, -7px -7px 14px #ffffff;
}
